body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Heading */
.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;

}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header--subheader {
    font-size: 21px;
    color: grey;
}

/* Link */
.link--cta {
    font-size: 16px;
    color: aquamarine;
}